*.iml
.DS_Store
.idea/artifacts/
.idea/aws.xml
.idea/checkstyle-idea.xml
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/dataSources*
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/kotlinc.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/sqldialects.xml
.idea/statistic.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/.gitignore
atlassian-ide-plugin.xml
infra/sharedvolume/out/
dump.rdb
nb-configuration.xml
target/